<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
    </head>
    <body>
        <h1>Chat</h1>
        <p>Hello, and welcome to the journal entry. This place is designed to let you feel like you are heard. Your feelings will be heard. The AI bot will empathize with you.</p>
        <p>Start the conversation below by answering the following questions.</p>
        <div id="pre_ques">
            <label>How are you Feeling?</label>
            <textarea id="f1"></textarea>
            <br>
            <label>Why are these Feelings Important to You?</label>
            <textarea id="f2"></textarea>
            <br>
            <label>What are you Feeling?</label>
            <textarea id="f3"></textarea>
            <br>
            <button>Submit</button>
        </div>
        <div id="post_ques">
            <div id="written"></div>
            <hr>
            <div id="response"></div>
            <textarea placeholder="Talk more"></textarea>
        </div>
    </body>
</html>